<main class="container mt-5">
    <section class="row">
        <article class="col-12">
            <h1>Categorias registradas</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Categorias</th>


                </tr>
                </thead>
                <tbody>
                {{#categorias}}
                    <tr>
                        <td>{{id_modulo}}</td>
                    </tr>
                {{/categorias}}
                </tbody>
            </table>
        </article>
    </section>
</main>