<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            fetch('/api/getEdadUsuarios')
                    .then(res => res.json() )
                    .then((info) => {
                        const arrayFrom= Array.from(info).map(item => [item.nombre_completo, item.edad])
                        console.log(arrayFrom)
                        const data = google.visualization.arrayToDataTable([
                            ['Nombre', 'Edad'],
                                ...arrayFrom
                        ]);


                        var options = {'title':'Edad de los usuarios',
                            'width':400,
                            'height':300};

                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }).catch(err => console.error(err));


        }

        const generatePdf = () => {
            fetch('/admin/createPDF')
                    .then(res => res.json() )
                    .then((info) => {
                        const arrayFrom= Array.from(info).map(item => [item.nombre_completo, item.edad])
                        const data = google.visualization.arrayToDataTable([
                            ['Nombre', 'Edad'],
                            ...arrayFrom
                        ]);


                        var options = {'title':'Edad de los usuarios',
                            'width':400,
                            'height':300
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }).catch(err => console.error(err));
        }
    </script>
</head>

<body>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
<button type="button" onclick="generatePdf()">DAME EL PDF</button>
</body>
</html>