<main class="container">
    <div class="row mt-5">
        <div class="col">
            {{#error}}
                <div class="alert alert-danger" role="alert">{{.}}</div>
            {{/error}}
            {{#success}}
                <div class="alert alert-success" role="alert">{{.}}</div>
            {{/success}}

            {{#pregunta}}
                <h1 class="mb-5">Editar pregunta</h1>
            {{/pregunta}}

            {{^pregunta}}
                <h1 class="mb-5">Crear pregunta</h1>
            {{/pregunta}}

            <form id="formPregunta" action="{{action}}" method="post" enctype="multipart/form-data" class="card card-body">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Pregunta:</label>
                                <textarea name="pregunta" required class="form-control">{{pregunta.pregunta}}</textarea>
                            </div>
                        </div>
                    </div>

                    {{#pregunta.preguntaRow}}
                        <div class="row">
                            <div class="col-6 col-md-3 my-auto">
                                <div class="form-group d-flex align-items-center">
                                    <label class="form-label">Activo:</label>
                                    <input type="checkbox" name="estado" class="ms-2" >
                                </div>
                            </div>
                             <div class="col-6 col-md-3 my-auto">
                                <div class="form-group d-flex align-items-center">
                                    <label class="form-label">Accsesible:</label>
                                    <input type="checkbox" name="accesible" class="ms-2"  >
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label class="form-label">Tipo:</label>
                                   <select class="form-select" name="id_tipo">
                                    {{#tipos}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/tipos}}
                                   </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <div class="form-group">
                                    <label class="form-label">Modulo:</label>
                                    <select class="form-select" name="id_modulo">
                                        {{#modulos}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/modulos}}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label class="form-label">Dificultad:</label>
                                    <select class="form-select" name="dificultad_id">
                                        {{#dificultades}}
                                            <option value="{{id}}">{{dificultad}}</option>
                                        {{/dificultades}}
                                    </select>
                                </div>
                            </div>
                           
                        </div>
                    {{/pregunta.preguntaRow}}

                    {{^pregunta.preguntaRow}}
                        <div class="row">
                            <div class="col-6 col-md-3 my-auto">
                                <div class="form-group d-flex align-items-center">
                                    <label class="form-label">Activo:</label>
                                    <input type="checkbox" name="estado" class="ms-2" >
                                </div>
                            </div>
                            <div class="col-6 col-md-3 my-auto">
                                <div class="form-group d-flex align-items-center">
                                    <label class="form-label">Accsesible:</label>
                                    <input type="checkbox" name="accesible" class="ms-2" >
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label class="form-label">Tipo:</label>
                                    <select class="form-select" name="id_tipo">
                                        {{#tipos}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/tipos}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <div class="form-group">
                                    <label class="form-label">Modulo:</label>
                                    <select class="form-select" name="id_modulo">
                                        {{#modulos}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/modulos}}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label class="form-label">Dificultad:</label>
                                    <select class="form-select" name="dificultad_id">
                                        {{#dificultades}}
                                            <option value="{{id}}">{{dificultad}}</option>
                                        {{/dificultades}}
                                    </select>
                                </div>
                            </div>

                        </div>
                    {{/pregunta.preguntaRow}}

                    

                    <div class="row">
                        <label class="form-label">Respuestas:</label>

                        {{#pregunta.opciones}}
                            <div class="col-sm-12 col-md-6 mb-4">
                                <div id="opcion_{{index}}" class="form-group">
                                    <label for="respuesta_correcta_{{index}}" class="form-label">Opcion {{index}}:</label>
                                    <input type="text" value="{{opcion}}" name="respuesta" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">Respuesta correcta:</label>
                                    <input id="respuesta_correcta_{{index}}" type="radio" {{#opcion_correcta}} checked {{/opcion_correcta}} name="repuesta_correcta" value="{{index}}">
                                </div>
                            </div>
                        {{/pregunta.opciones}}

                        {{^pregunta.opciones}}
                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="respuesta_correcta_1" class="form-label">Opcion 1:</label>
                                    <input type="text" name="respuesta" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">Respuesta correcta:</label>
                                    <input id="respuesta_correcta_1" type="radio" name="repuesta_correcta" value="0">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="respuesta_correcta_2" class="form-label">Opcion 2:</label>
                                    <input type="text" name="respuesta" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">Respuesta correcta:</label>
                                    <input for="respuesta_correcta_2" type="radio" name="repuesta_correcta" value="1">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="respuesta_correcta_3" class="form-label">Opcion 3:</label>

                                    <input  type="text" name="respuesta[]" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">Respuesta correcta:</label>
                                    <input for="respuesta_correcta_3" type="radio" name="repuesta_correcta" value="2">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="respuesta_correcta_4" class="form-label">Opcion 4:</label>
                                    <input type="text" name="respuesta[]" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">Respuesta correcta:</label>
                                    <input for="respuesta_correcta_4" type="radio" name="repuesta_correcta" value="3">
                                </div>
                            </div>
                            
                        </div>
                    {{/pregunta.opciones}}
                        

                </div>
                <div class="my-3">
                    <button type="submit" class="btn btn-dark btn-lg">{{submitText}}</button>
                </div>
            </form>
            <script>
                const formElement = document.getElementById("formPregunta");
                const isEditPregunta = formElement.action.includes("editarPregunta");
                const checkEstado = formElement[1];
                const checkAccesible = formElement[2];

                const selectType = formElement[3].children;
                const selectModule = formElement[4].children;
                const selectDifficult = formElement[5].children;

                const options = document.querySelectorAll("input[name='respuesta']");
                
                const getPregunta = () => {
                    const id = Number(window.location.pathname.split("/").pop());
                
                    fetch(`/api/pregunta/${id}`)
                            .then(res => res.json())
                            .then(data => {
                                console.log({data, formElement})

                                if(data.preguntaRow.estado.includes("ACTIVA")){
                                    checkEstado.checked = true
                                }

                                 if(data.preguntaRow.accesible.includes("SI")){
                                    checkEstado.checked = true
                                }

                                for(let option of selectType){
                                    if(option.value === data.preguntaRow.tipo){
                                        option.defaultSelected = true;
                                    }
                                }

                                for(let option of selectModule){
                                    if(option.value === data.preguntaRow.modulo){
                                        option.defaultSelected = true;
                                    }
                                }

                                for(let option of selectDifficult){
                                    if(option.value === data.preguntaRow.dificultad_id){
                                        option.defaultSelected = true;
                                    }
                                }

                            })
                            .catch(err => console.error({err}))
                }

                if(formElement.action.includes("editarPregunta")){
                    getPregunta()
                }

                // Form submit
                formElement.addEventListener("submit", (event) => {
                    event.preventDefault();
                    const formData = new FormData(event.target);

                    // Crear un objeto con los valores del formulario
                    const formValues = {
                        pregunta_id: Number(window.location.pathname.split("/").pop())
                    };

                    formData.forEach((value, key) => {
                        formValues[key] = value;
                    });

                    formValues.estado = checkEstado.checked ? 'ACTIVA' : 'NO ACTIVA'

                    let respuestas = [];

                    for(let op of options){
                        respuestas.push(op.value);
                    }

                    formValues.respuestas = respuestas

                    const apiEndpoint = isEditPregunta ? "/api/editarPregunta" : "/api/crearPregunta"

                    fetch(apiEndpoint,{ method: 'POST',headers: {
                            'Content-Type': 'application/json'
                        }, body: JSON.stringify(formValues)})
                            .then(res => res.json())
                            .then(data => {
                                console.log({data})
                                if(isEditPregunta){
                                    window.location.reload();
                                }else{
                                    window.location.href = "/admin"
                                }
                            })
                            .catch(err => console.error({err}))
                })

            </script>
        </div>
    </div>
</main>
