<main class="container">
    <div class="row mt-5">
        <div class="col">
            {{#error}}
                <div class="alert alert-danger" role="alert">{{.}}</div>
            {{/error}}
            {{#success}}
                <div class="alert alert-success" role="alert">{{.}}</div>
            {{/success}}


                <h1 class="mb-5">Sugerencias</h1>
                <h2 class="mb-3">Preguntas</h2>
                <div class="row mb-3 py-3 px-2 bg-secondary rounded">
                    {{#sugerencias}}
                        <div class="col-sm-6 col-md-4">
                            <form id="formSugerencia_{{id}}" class="card" >
                                <input type="hidden" name="id" value="{{id}}">
                                <input type="hidden" name="modulo" value="{{modulo}}">
                                <input type="hidden" name="id_tipo" value="{{id_tipo}}">
                                <div class="card-header">
                                    <h5 class="card-title">{{pregunta}}</h5>
                                </div>
                                <div class="card-body mb-3">
                                    <p class="card-text">Modulo: {{modulo}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {{#opciones}}
                                        <li class="list-group-item">{{.}}</li>
                                        <input type="hidden" name="opcion[]" value="{{.}}">
                                    {{/opciones}}
                                </ul>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-success" onclick="aceptarSugerencia('{{id}}')">Aceptar</button>
                                    <button type="button" class="btn btn-danger" onclick="descartarSugerencia('{{id}}')">Descartar</button>
                                </div>
                            </form>
                        </div>
                    {{/sugerencias}}
                    {{^sugerencias}}
                        <div class="alert alert-success" role="alert">No hay sugerencias de preguntas</div>
                    {{/sugerencias}}
                </div>

            <h2 class="mb-3">Reportes</h2>
            <div class="row py-3 px-2 bg-secondary rounded">
                {{#reportes}}
                    <div class="col-sm-6 col-md-4">
                        <form id="formReporte_{{id}}" class="card mb-3" >
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="user_id" value="{{user_id}}">
                            <input type="hidden" name="pregunta_id" value="{{pregunta_id}}">
                            <div class="card-header">
                                <h5 class="card-title">{{caso}} #{{pregunta_id}}</h5>

                            </div>
                            <div class="card-body">
                                <p class="card-text">Mensaje: {{mensaje}}</p>
                                <p class="card-text">Usuario: #{{user_id}}</p>
                                <p class="card-text">Resuelto: {{resuelto}}</p>
                            </div>
                            {{^resolved}}
                                <div class="card-footer">
                                    {{#inProgress}}
                                        <button type="button" class="btn btn-warning" onclick="resolverReporte('{{id}}','{{pregunta_id}}')">Continuar Resolviendo</button>
                                    {{/inProgress}}
                                    {{^inProgress}}
                                        <button type="button" class="btn btn-success" onclick="resolverReporte('{{id}}','{{pregunta_id}}')">Resolver</button>
                                        <button type="button" class="btn btn-danger" onclick="descartarReporte('{{id}}')">Descartar</button>
                                    {{/inProgress}}

                                </div>
                            {{/resolved}}
                        </form>
                    </div>
                {{/reportes}}
                {{^reportes}}
                    <div class="alert alert-success" role="alert">No hay reportes</div>
                {{/reportes}}
            </div>
            <script>

                function resolverReporte(reportId, preguntaId) {
                    fetch('/api/resolverReporte', {
                        method: 'POST', // O el método que corresponda
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({id: reportId,}),
                    })
                    .then(response => {// Realizar acciones adicionales si es necesario
                        console.log('Reporte resuelto con éxito');
                    })
                    .catch(error => {
                        console.error('Error al resolver el reporte:', error);
                    }).finally(() => window.location.href = `/admin/pregunta/${preguntaId}?reportId=${reportId}`)
                }

                function descartarReporte(reportId) {
                    fetch('/api/descartarReporte', {
                        method: 'POST', // O el método que corresponda
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({id: reportId,}),
                    })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Error al descartar el reporte');
                                }
                                // Realizar acciones adicionales si es necesario
                                console.log('Reporte descartado con éxito');
                            })
                            .catch(error => {
                                console.error('Error al descartar el reporte:', error);
                            }).finally(() => window.location.href = "/admin/sugerencias");
                }
            </script>
        </div>
    </div>
</main>
