
 <main class="container ">
    <div class="row mt-5">
        <div class="col">
            {{^userSession}}
            <section class="text-center p-3">
                <h1>Hola extraño</h1>
                <h2>Create una cuenta, ingresa y juga!</h2>
                <a href="/login/login" class="btn btn-primary">Iniciar Sesion</a>
                <a href="/registro/registro" class="btn btn-secondary">Crear cuenta</a>
            </section>
            {{/userSession}}

            {{#userSession}}
                <h1>Bienvenido {{user_name}}!</h1>
                <div class="card card-body mb-3">
                    <h4>Informacion del usuario: </h4>
                    <p>Nombre: {{nombre_completo}}</p>
                    <p>Sexo: {{sexo}}</p>
                    <p>Mail: {{mail}}</p>
                    <p>Puntaje: {{puntaje}}</p>
                    {{imagen_path}}
                </div>
                <a href="/juego/crear" class="btn btn-success">Nuevo Juego</a>
                <a href="/ranking" class="btn btn-secondary">Ranking</a>
                <a href="/partida" class="btn btn-info">Partidas</a>
            {{/userSession}}
        </div>
    </div>
 </main>
