
 <main class="container my-3">
    <div class="row">
        <div class="col">
         {{^userSession}}
            <h1>Hola extraño</h1>
            {{/userSession}}

            {{#userSession}}
            <h1>Bienvenido {{user_name}}</h1>
            <div class="card card-body mb-3">
                <p>{{nombre_completo}}</p>
                <p>{{sexo}}</p>
                <p>{{mail}}</p>
            </div>
                <a href="/juego" class="btn btn-primary">Nuevo Juego</a>
            {{/userSession}}
        </div>
    </div>
 </main>
