 <main class="container ">
    <div class="row mt-5">
        <div class="col">

            {{#error}}
                <div class="alert alert-danger" role="alert">{{.}}</div>
            {{/error}}

            {{#success}}
                <div class="alert alert-success" role="alert">{{.}}</div>
            {{/success}}

            {{^userSession.user}}
            <section class="text-center p-3">
                <h1>Hola extraño</h1>
                <h2>Create una cuenta, ingresa y juga!</h2>
                <a href="/login/login" class="btn btn-primary">Iniciar Sesion</a>
                <a href="/registro/registro" class="btn btn-secondary">Crear cuenta</a>
            </section>
            {{/userSession.user}}

            {{#userSession.user}}
                <h1>Bienvenido {{user_name}}!</h1>

                <div class="card card-body mb-3 ">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="../public/avatar/{{user_name}}.jpg" width="300px" class="rounded-circle" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h4>Informacion del usuario: </h4>
                            <p>Nombre: {{nombre_completo}}</p>
                            <p>Sexo: {{sexo}}</p>
                            <p>Mail: {{mail}}</p>
                            <p>Nivel de jugador: {{userSession.nivel}}</p>
                            <p>Puntaje: {{userSession.puntaje}}</p>
                        </div>
                        <div class="flex-grow-1  d-flex flex-column align-items-center justify-content-center mb-3">
                            <div class="mb-3">
                                {{#userSession.isAdmin}}
                                    <a href="/admin" class="btn btn-dark">Panel Administrativo</a>
                                {{/userSession.isAdmin}}
                                <a href="/juego/crear" class="btn btn-success">Nuevo Juego</a>
                            </div>
                            <div>
                                <a href="/ranking" class="btn btn-secondary">Ranking</a>
                                <a href="/partida" class="btn btn-info">Partidas</a>
                                {{^userSession.isAdmin}}
                                    <a href="/pregunta/sugerir" class="btn btn-warning">Sugerir una pregunta</a>
                                {{/userSession.isAdmin}}
                            </div>

                        </div>
                    </div>
                </div>

            {{/userSession.user}}
        </div>
    </div>
 </main>
