<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
</head>
<body>
{{#error}}
    {{error}}
{{/error}}
<div class="container mt-5 ">
<form action="{{action}}" method="post" enctype="multipart/form-data" class="row card card-body w-25 mx-auto">
        <div class="col-12 ">
            <label for="user_name" class="form-label fs-4">Usuario: </label>
            <input type="text" name="user_name" id="user_name" required class="form-control">
        </div>
        <div class="col-12 my-5">
            <label for="password" class="form-label fs-4">Contraseña: </label>
            <input type="password" name="password" id="password" required class="form-control">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-dark btn-lg w-100">{{submitText}}</button>
        </div>

</div>
    
</div>
</body>
</html>