<main class="container mt-5 ">
    {{#error}}
        {{error}}
    {{/error}}

    <form action="{{action}}" method="post" enctype="multipart/form-data" class="row">
        <div class="col-sm-12 col-md-5 offset-md-3">
            <div class="card card-body">
                <label for="user_name" class="form-label fs-4">Usuario: </label>
                <input type="text" name="user_name" id="user_name" required class="form-control">

                <label for="password" class="form-label fs-4">Contraseña: </label>
                <input type="password" name="password" id="password" required class="form-control mt-3">

                <button type="submit" class="btn btn-dark btn-lg w-100 mt-3">{{submitText}}</button>
            </div>
        </div>
    </form>

</main>
