<main class="container my-3">
        <div class="row">

            {{#pregunta}}
                <div class="col mb-3">
                    <div class="progress">
                        <div id="barraProgreso" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                    <form id="formulario-pregunta" method="post" action="/pregunta/validarOpcion">
                        <input type="hidden" name="id" value="{{pregunta_id}}">

                        <div class="card card-body mb-5">
                            <div class="card-section mb-3">
                                <h5 class="card-title">Mi puntaje es: {{puntaje}}</h5>
                                <input type="hidden" id="puntaje" name="puntaje" value={{puntaje}} >
                            </div>
                            <div class="card-section mb-3">
                                <h5 class="card-title">Pregunta:</h5>
                                <p class="card-text">{{pregunta}}</p>
                            </div>
                            <div class="card-section mb-3">
                                <h5 class="card-title">Opciones:</h5>
                                <ul class="list-group">
                                    {{#opciones}}
                                        <li class="list-group-item">
                                            <label>
                                                <input type="radio" name="opcion" value="{{opcion}}" required> {{opcion}}
                                            </label>
                                        </li>
                                    {{/opciones}}
                                </ul>
                            </div>
                            <div class="card-section">
                                <h5 class="card-title">Opción Correcta:</h5>
                                <p class="card-text">{{opcion_correcta}}</p>
                            </div>
                        </div>
                        <p>{{opcionEsCorrecta}}</p>
                        <button type="submit" class="btn btn-primary">Validar Respuestas</button>
                    </form>
                </div>
            {{/pregunta}}

            {{#preguntasByModule}}
                <div class="col-4 mb-3">
                    <form id="" method="post" action="/pregunta/validarOpcion">
                        <input type="hidden" name="id" value="{{pregunta_id}}">
                        <div class="card card-body mb-5">
                            <div class="card-section mb-3">
                                <h5 class="card-title">Pregunta:</h5>
                                <p class="card-text">{{pregunta}}</p>
                            </div>
                            <div class="card-section mb-3">
                                <h5 class="card-title">Opciones:</h5>
                                <ul class="list-group">
                                    {{#opciones}}
                                        <li class="list-group-item">
                                            <label>
                                                <input type="radio" name="opcion{{id}}" value="{{.}}" required> {{.}}
                                            </label>
                                        </li>
                                    {{/opciones}}
                                </ul>
                            </div>
                            <div class="card-section">
                                <h5 class="card-title">Opción Correcta:</h5>
                                <p class="card-text">{{opcion_correcta}}</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Validar Respuestas</button>
                    </form>
                    <p>{{opcionEsCorrecta}}</p>
                </div>
            {{/preguntasByModule}}

            <script>

                var duracionMaxima = 30; // Duración máxima en segundos
                var tiempoRestante = duracionMaxima;

                // Actualiza la barra de progreso cada segundo
                var temporizador = setInterval(function() {
                    // Calcula el porcentaje completado
                    var porcentajeCompletado = (duracionMaxima - tiempoRestante) / duracionMaxima * 100;

                    // Actualiza el ancho de la barra de progreso
                    document.getElementById('barraProgreso').style.width = porcentajeCompletado + '%';

                    // Disminuye el tiempo restante
                    tiempoRestante--;

                    // Si el tiempo ha llegado a cero, detén el temporizador
                    if (tiempoRestante < 0) {
                        clearInterval(temporizador);
                        document.getElementById('formulario-pregunta').submit();
                    }
                }, 1000); // 1000 milisegundos = 1 segundo
            </script>
        </div>
</main>
