<main class="container mt-5">
    <section class="row">
        <article class="col-12">
            <h1>Ranking</h1>
            <table id="tableRanking" class="table table-striped">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Puntaje</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </article>
    </section>
</main>
<script>
    fetch(`/api/partidasJugadas`)
            .then(res => res.json())
            .then(data => {
                console.log({data})

                if(data["cantidad de partida"] !== 0){
                    const tableElement = document.getElementById("tableRanking");
                    const tbody = tableElement.querySelector("tbody");

                    // Limpiar el cuerpo de la tabla antes de agregar nuevos elementos
                    tbody.innerHTML = "";

                    // Crear filas de datos
                    data.partidas.forEach(partida => {
                        const row = document.createElement("tr");

                        const userIdCell = document.createElement("td");
                        userIdCell.textContent = partida.user_id;

                        const userNameCell = document.createElement("td");
                        const userLink = document.createElement("a");
                        userLink.textContent = partida.name;
                        userLink.href = `/perfil/show/${partida.name}`;
                        userNameCell.appendChild(userLink);

                        const puntajeCell = document.createElement("td");
                        puntajeCell.textContent = partida.puntaje;

                        row.appendChild(userIdCell);
                        row.appendChild(userNameCell);
                        row.appendChild(puntajeCell);

                        tbody.appendChild(row);
                    });
                }else{
                    console.log("No hay nada")
                }

            })
            .catch(err => console.error({err}))




</script>
